.form {
	&__group {
		position: relative;
		display: grid;
		grid-row-gap: 0.7rem;
		// padding: 1rem 0;
		margin: 2rem 0;
	}

	&__input {
		display: block;
		background-color: #ececec;
		padding: 1.3rem 2rem;
		border-radius: 0.5rem;
		border: 1px solid #fff;

		&:focus {
			outline: none;
		}

		&--label {
			color: #000;
			font-size: 1.5rem;
		}
	}
}
