.home {
	position: relative;
	width: 100%;
	padding: 2.5rem 5vh;
}

.header {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 60rem;

	background-color: #ececec;

	&__img {
		position: relative;
		width: 100%;
		height: 100%;

		img {
			display: block;
			width: 100%;
			height: inherit;
			object-fit: cover;
		}
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: center;

		.content {
			display: grid;
			justify-items: start;
			grid-row-gap: 1rem;
			width: 70%;
		}
	}
}

.main {
	position: relative;
	padding: 8rem 0;
}
