.App {
	position: relative;
	width: 100%;
}

.container {
	width: 100%;
	min-height: 80vh;
	background-color: #fff;
	display: grid;
	grid-template-columns: 1fr 1fr;

	.bg-side {
		background-repeat: no-repeat;
		background-size: cover;
		background-image: linear-gradient(rgba(240, 0, 0, 0.8), rgba(220, 40, 30, 0.8)),
			url(https://images.unsplash.com/photo-1582719188393-bb71ca45dbb9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
	}

	.content {
		display: grid;
		align-content: center;
		justify-items: center;
	}
}

.form {
	width: 65%;
	margin: 5rem auto;
}

.heading {
	&__primary {
		font-size: 4.5rem;
		font-weight: 700;
		margin: 1rem 0;
	}

	&__tertiary {
		font-size: 2rem;
		font-weight: 500;
		text-transform: uppercase;
		margin: 2rem 0;
	}
}

.paragraph {
	font-size: 1.3rem;
	color: #3d3d3d;
}

.btn {
	&:link,
	&:visited {
		display: inline-block;
		font-size: 1.3rem;
		font-weight: 500;
		border: 1px solid #000;
		padding: 1rem 3rem;
		margin: 1rem 0;
		background-color: #ececec;
		text-decoration: none;
		color: #000;
		transition: all 0.3s ease;
	}

	&:hover,
	&:focus {
		background-color: #000;
		color: #fff;
	}
}
